# ==========================================
# ROS2
# ==========================================

ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.so

# ==========================================
# VSCode
# ==========================================

.vscode/

# ==========================================
# Logs
# ==========================================

*.log
*.ulg

# ==========================================
# Models
# ==========================================

*.pt
*.pth
*.onnx
*.engine

# ==========================================
# Dataset
# ==========================================

data/

# ==========================================
# External repositories
# ==========================================

third_party/PX4-Autopilot/
third_party/Micro-XRCE-DDS-Agent/

# ==========================================
# Local tooling
# ==========================================

.venv/
.pixi/
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/
